# Dependências
node_modules/

# Variáveis de Ambiente (Segurança)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cobertura de Testes (Jest)
coverage/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db